.image {
  position: relative;
  width: 19.5em;
}

h5 {
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;

  margin: 0 auto;
}
h6 {
  position: absolute;
  text-align: center;

  width: 100%;

  margin: 0 auto;
}
